<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
 <suite name="Suite"  verbose="10"  configfailurepolicy="continue">

 <!-- <suite name="Suite"  verbose="10" parallel="tests" configfailurepolicy="continue">-->
 
 <test name="NBCAutomationChrome">
  <parameter name="aut" value="Chrome" />
  <classes>
	 
	  <class name="com.nbcd.TestRunner.TestRunner" />

	</classes>
  </test>
 
 

  
</suite> <!-- Suite -->
